.mobile-subscription-container {
  box-sizing: border-box;
  width: 100%;
  
}
.mobile-application-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.subscription-top{
    /* background-color: var(--backgroundColor); */
    padding-top : 30px;
}
.benefit-card {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border-radius: 20px;;
}
.benefit-card-icon {
  margin: auto;
}
.benefit-card-title {
  font-size: 1.1rem;
  color: var(--primary);
  margin: 0;
  padding: 5px;
}
.benefit-card-description {
  font-size: 0.8rem;
  margin: 0;
  padding: 5px;
  color: var(--primary);
  text-align: center;
}
.iphone-subscription {
  max-width: 300px;
  margin: 20px;
}
.subscription-maintitle{
    font-size: 28px;
    font-weight: 500;
    color : var(--navy);
    text-align: center;
    padding-top : 20px;
}
.offers-subscription-content{
  width: 100%;
  background-color: var(--backgroundColor);
}
.mobile-subscription-benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
}
.subscription-card-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    padding : 20px;
    margin : 20px;
    border-radius: 20px;
    transition: 0.3s linear;
}
.subscription-card-container:hover{
    box-shadow: rgba(0, 0, 0, 0.36) 0px 22px 70px 4px;
    padding: 25px;
}
.subscription-benefits{
    color : var(--navy);
    padding-top: 10px;
}
.subscription-title {
    font-size: 1.2rem;
    font-weight: 600;
    color : var(--primary);
    transition: 0.3s linear;
}
.subscription-card-container:hover .subscription-title{
    font-size: 1.4rem;
}
.subscription-cost {
    font-size: 0.9rem;
    font-weight: 500;
    color : var(--primary)
}
.subscription-title-header{
    border-radius: 20px;
    padding : 5px;
    transition: 0.3s linear;
}
.subscription-card-container:hover .subscription-title-header{
    padding : 10px;
}
table{
    margin: 10px;
}
    
  th {
    border-bottom: 2px solid lightgray;
    padding: 10px;
    font-weight: 600;
  }
    
  td {
    text-align: center;
    font-size : 0.9rem;
    padding: 8px;;
  }
