.navbar-container{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height : 70px;
    box-sizing: border-box;
    z-index: 3;
    animation: 300ms ease-in-out 0s normal fadeInDown;
}
.navbar-container-isSticky{
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height : 90px;
    box-sizing: border-box;
    z-index: 999;
    animation: 500ms ease-in-out 0s normal fadeInDown;
}
.navbar-items-isSticky ul li a{
    color : var(--navy) !important;
}
.navbar-content-isSticky{
    height : 90px !important;
}
.navbar-logo-isSticky img{
    margin-top: 0px !important;
}
.navbar-content{
    width : 90%;
    height : 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navabar-blob{
    position: absolute;
    z-index: -1;
    top : -155px;
    left : -55px;
    transition: 0.5s all ease-in-out;
}

.navbar-logo img{
    margin-top: 30px;
    width: 120px;
    position: relative;
    left : -30px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.navbar-logo img:hover{
    width: 115px;
}
.navbar-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-items ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding : 5px;
}
.navbar-items ul li{
    list-style: none;
}
.navbar-items ul li a{
    text-decoration: none;
    margin: 5px;
    font-size: 0.95rem;
    font-weight: 500;
    padding : 5px 7px;
    color : var(--primary);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.dropdown-toggle{
    background-color: transparent !important;
    border: none !important;
    padding : 5px 7px !important;
    font-weight: 500 !important;
}
.dropdown-toggle:hover{
    background-color: rgb(255, 255, 255, 0.2) !important;
    border-radius: 5px !important;
}
.dropdown-item{
    margin: 0 !important;
    color : var(--navy) !important;
}
.dropdown-item:hover{
    background-color: rgb(150, 150, 150, 0.15) !important;
}

.navbar-items-rest{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-items-rest ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding : 5px;
}
.navbar-items-rest ul li{
    list-style: none;
}
.navbar-items-rest ul li a{
    text-decoration: none;
    margin: 5px;
    font-weight: 500;
    font-size: 0.95rem;
    padding : 5px 7px;
    color : var(--navy);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.navbar-items ul li a:hover{
    background-color: rgb(255, 255, 255, 0.2);
    padding : 5px 7px;
    border-radius: 5px;
    font-weight: 500;
}
.navbar-items-rest ul li a:hover{
    /* color : var(--blue); */
    background-color: rgb(37, 49, 109, 0.2);
    padding : 5px 7px;
    border-radius: 5px;
    font-weight: 600;
}
.navbar-login-button{
    margin : 30px;
    font-size: 0.9rem;
    padding : 5px 15px;
    color : var(--primary);
    border-radius: 5px;
    background-color: var(--blue);
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    position: relative;
}
.navbar-login-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    background-color: var(--synapsilColor);
    mix-blend-mode: hue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.navbar-login-button:hover::before{
    width : 100%
}
.navbar-login-button a{
    text-decoration: none;
    color : var(--primary);
}
.navbar-login-button a:hover{
    color : var(--primary)
}
.responsive-navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: var(--secondary);
}
.responsive-navbar-items{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap : 20px;
    align-items: center;
    justify-content: center;
}
.responsive-navbar-items ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding : 5px;
}
.responsive-navbar-items ul li{
    list-style: none;
    padding : 10px;
}
.responsive-navbar-items ul li a{
    text-decoration: none;
    font-weight: 500;
    margin: 5px;
    font-size: 1.2rem;
    padding : 1px 7px;
    color : var(--blue);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.responsive-navbar-items ul li a:hover{
    opacity: 0.8;
    color : var(--dark);

}
.navbar-menu-icon {
    display: none;
}
.why-us-responsive{
    list-style: none;
    padding : 10px;
    font-size: 1.2rem;
    padding : 1px 7px;
    color : var(--blue);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

@keyframes fadeInDown {
    0%{
        transform : translateY(-100px);
    }
    100%{
        transform : translateY(0px);
    }
    
}

@media only screen and (max-width: 1000px) {
    .navbar-items-rest{
        display: none;
    }
    .navbar-items{
        display: none;
    }
    .navbar-login-button{
        display: none;
    }
    .navbar-menu-icon {
        display: block;
    }
    .navabar-blob{
        left : -75px;
    }
    
  }
  @media only screen and (max-width: 500px) {
    .navbar-logo img{
        left : 0px;
    }
    .navabar-blob{
        left : -75px;
    }
  }