.login-leftCard{
    width : 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.login-rightCard{
    width : 60%;
    min-height: 400px;
    background-color : rgba(185, 255, 248, 0.8);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.synapsil-logo{
    width : 300px;
    object-fit: contain;
}
.login-button{
    width : 120px;
    padding : 10px;
    border : 0;
    outline : 0;
    margin-top : 20px;
    border-radius: 5px;
    color : #fff;
    font-weight: 600;
    font-size: 18px;
    background-color: #048cdc;
    
}