.container {
  padding : 20px;
  padding-top: 50px;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--secondary);
}
.container-header {
  font-size: 2rem;
  color: var(--navy);
  font-weight: 600;
  text-align: center;
  margin: 20px;
}
.main-content {
  max-width: 1200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
}
.about-us {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  color : var(--dark);
}
.sub-heading {
  color: var(--dark);
  text-align: center;
  color : var(--dark);
}
.list-points{
    display: flex;
    align-items: center;
    margin : 10px 0;
}
.list{
    margin: 0;
}
.about-us-final-content{
  font-size: 1rem;
  font-weight: 500;
  color : var(--dark)
}
@media only screen and (max-width : 500px) {
  .about-us-final-content{
    text-align: center;
  }
}

