.test-container {
  width: 100%;
  height: 100%;
  margin-top : 50px;
  box-sizing: border-box;
  margin-bottom: 40px;
  overflow: hidden;
}

.testimonial-card-container {
    padding: 20px;
    width : 80%;
    height: 80%;
    position: relative;
    z-index: 2;
}
.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-content {
  width: 65%;
  height: 100%;
}
.testimonial-person-details {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* background-color: red; */
}
.testimonial-comment {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--navy);
  height : 25px;
}
.testimonial-comment span{
  margin:20px;
  margin-left: -20px;
}
.quotes {
  font-size: 2rem;
  opacity: 0.4;
  color: var(--blue);
}
.testimonial-description {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial-description span{
  align-self: flex-end;
}
.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  margin-left: 100px;
}
.testimonial-image-background1 {
  margin-top: -70px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: var(--blue);
  opacity: 0.9;
  position: relative;
  top: 95px;
  z-index: -1;
  right: 15px;
  margin-left: 100px;
}
.testimonial-image-background2 {
  margin-top: -100px;
  width: 110px;
  height: 110px;
  border-radius: 60px;
  background-color: var(--blue);
  opacity: 0.9;
  position: relative;
  top: 90px;
  z-index: -1;
  left: 10px;
  margin-left: 100px;
}
.testimonial-person-name {
  width: 100%;
    text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--navy);
  margin-top: 25px;
  margin-left: 10px;
}
.testimonial-person-design {
  width: 100%;
    text-align: center;
  color: var(--blue);
  font-size: 0.9rem;
  margin-top: -18px;
  margin-left: 35px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper{
    width: 100%;
    height: 100%;
    margin : 25px;
}
.swiper-slide {
    width : 100%;
    height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width : 900px){
    .testimonial-container{
        flex-direction: column;
    }
    .testimonial-card-container {
        padding: 20px;
        width : 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    .testimonial-person-name {
        margin-top: 0px;
        margin-left: 0px;
      }
      .testimonial-person-design {
        color: var(--blue);
        font-size: 0.9rem;
        margin-top: -18px;
        margin-left: 0px;
      }
      .testimonial-person-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .testimonial-image-background2{
        margin-left: 0px;
      }
      .testimonial-image-background1{
        margin-left: 0px;
      }
      .testimonial-image{
        margin-left: 0px;
      }
}
@media only screen and (max-width : 450px){
    .testimonial-person-details{
        margin-left: 0px;
      }
}

