.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
}
.newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newsletter-divider {
  height: 2px;
  width: 90%;
  background-color: var(--lightGrey);
  margin: 20px;
  border-radius: 1px;
}
.newsletter-subheading {
  color: var(--dark);
  font-size: 1.2rem;
}
.newsletter-subscription {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-subscription .newsletter-input {
  padding: 15px;
  min-width: 300px;
  width: 40%;
  border: none;
  outline: none;
  background-color: var(--lightGrey);
  opacity: 0.5;
  border-radius: 20px;
  text-indent: 10px;
  margin-left: 60px;
}
.newsletter-subscription .newsletter-input::placeholder {
  color: var(--primary);
}
.newsletter-button {
  padding: 8px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  background-color: var(--blue);
  color: var(--primary);
  position: relative;
  right: 100px;
}
.newsletter-button:hover{
  opacity: 0.7;
  /* background-color: var(--primary);
  color: var(--blue);
  border: 1px solid var(--blue); */

}
.footer-menu {
  width: 90%;
  display: flex;
  align-items: flex-start;
  margin: auto;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer-heading {
  font-size: 0.9rem;
  text-align: center;
  margin-right: 10px;
  font-weight: 600;
  color: var(--navy);
}
.footer-item {
  color: var(--dark);
}
.item-container {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-left: 20px;
}
.list-item {
  margin: 0;
  transition: 1s ease-out;
  cursor: pointer;
  margin-left: 10px;
}
.list-item:hover{
  scale : 1.1;
  margin-left: 10px;
}
.playstore-comp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.iphone-footer {
  width: 120px;
  height: 200px;
}
.footer-qr {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.playstore-message {
  font-size: 0.8rem;
  padding: 3px;
  margin: 0;
  color: var(--dark);
  cursor: pointer;
}
.social-media-icon {
  background-color: var(--blue);
  padding: 6px;
  border-radius: 20px;
  margin: 5px;
  transition: 1s ease-in;
}
.social-media-icon:hover{
  scale: 1.2;
  background-color: var(--navy);
}
.click-here{
  color : var(--navy)
}

.footer-copyright{
  background-color: var(--navy);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.footer-copyright-content{
  margin: 10px auto;
  color : var(--secondary)
}
.synapsil-logo{
  width : 200px;
  object-fit: contain;
  margin-top: 40px;
  margin-right: 40px;
}
