/* .glass-morphic-effect{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 2px );
} */
.carousel-main-container{
    width : 100%;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(106.04deg, #198c9c 5.02%, rgba(255, 255, 255, 0.2) 120.29%);
}
.slide-component {
  width: 100%;
  height: 700px;
  background-color: #e14d2a;
}
.banner-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.text-content {
  position: relative;
  left: 150px;
}
.heading-content {
  color: var(--secondary);
  font-weight: 700;
    font-size: calc(32px + (52 - 32) * (100vw - 767px) / (1920 - 767));
    line-height: calc(38px + (55 - 38) * (100vw - 767px) / (1920 - 767));
}
.subHeading-content {
  font-style: normal;
    font-weight: 400;
    font-size: calc(14px + (18 - 14) * (100vw - 767px) / (1920 - 767));
    line-height: calc(22px + (25 - 22) * (100vw - 767px) / (1920 - 767));
  color: var(--secondary);
  word-spacing: 5px;
}
.costEffective-style {
  width: 35vw;
  object-fit: contain;
  position: relative;
  right: -100px;
  top : 50px;
}
.cost-effective-image{
  width : 45vw !important;
  object-fit: cover;
  margin-top : -50px;
}
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 850px) {
.costEffective-style{
  display: none;
}
.banner-content{
display: flex;
align-items: center;
justify-content: center;
}
.text-content {
  left: 0px;
  text-align: center;
  width : 70%;
  margin: 10px auto;
}
}
