.unique-container{
    box-sizing : border-box;
    width: 100%;
    height : auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-top: 50px;;
    background-color: var(--backgroundColor);
}