@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.App {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --navy : #25316D;
  --red : #E14D2A;
  --orange : #EC994B;
  --lightGrey : #7895B2;
  --blue : #277BC0;
  --red : #FBA1A1;
  --primary : #EAF6F6;
  --secondary : #fff;
  --dark : #2B3A55;
  --synapsilColor : #20dcc4;
  --synapsilDark : #384d4f;
  --backgroundColor : #f5f4f4;
}



