@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --navy : #1570ad;
  --lightGrey : #7895B2;
  --blue : #54afeb;
  --primary : #f4f4f4;
  --secondary : #fff;
  --dark : #444444;
  --synapsilColor : #20dcc4;
  --synapsilDark : #384d4f;
  --backgroundColor : #F7F9FB;
}
.App {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--secondary);
}



