@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --navy : #1570ad;
  --lightGrey : #7895B2;
  --blue : #54afeb;
  --primary : #f4f4f4;
  --secondary : #fff;
  --dark : #606060;
  --synapsilColor : #20dcc4;
  --synapsilDark : #384d4f;
  --backgroundColor : #F7F9FB;
}
.App {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--secondary);
  scroll-behavior: smooth;
}
.NIRVESH-ENTERPRISES{
  width : 350px;
  object-fit: contain;
}
.loader-page{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  
}
.svg-fill{
  fill-opacity: 0;
  animation : fadeIn 2s ease-in forwards;
  animation-delay: 1.5s;
}
@keyframes fadeIn {
  0%{
    fill-opacity: 0;
  }
  100%{
    fill-opacity: 1;
  }
}
@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}



