.secondary-card-container{
    display: flex;
    min-width : 250px;
    max-width : 280px;
    margin : 10px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;
    padding : 10px;
    border-radius: 20px;
    min-height: 300px;
}
.profile-image2{
    width : 120px;
    height : 120px;
    object-fit: cover;
    border-radius: 60px;
    margin : 20px;
}
.secondary-card-name{
    font-size: 1.1rem;
    color : var(--navy);
    text-align: center;
    font-weight: 500;
    transition: 0.4s all ease-in-out;
}
.secondary-card-design{
    font-size: 0.9rem;
    color : var(--dark);
    text-align: center;
    transition: 0.4s all ease-in-out;
    height : 30px;
}
.primary-card-container{
    display: flex;
    max-width : 260px;
    margin : 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding :10px
}
.profile-image3{
    width : 180px;
    object-fit: contain;
    border-radius: 90px;
    margin : 20px;
}
.primary-card-description{
    text-align: left;
}
.social-media-accounts2{
    width: 90%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 1s all ease-in-out;

  }
  .social-media-icons2{
    font-size: 2.3rem;
    padding: 5px;
    margin: 5px;
    color : var(--blue);
    border-radius: 20px;
    transition: 1s all ease-in-out;
    display: none;
  }
  .secondary-card-container:hover{
    /* background-color: var(--blue); */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  /* .secondary-card-container:hover .secondary-card-name{
    color : var(--secondary);

  }
  .secondary-card-container:hover .secondary-card-design{
    color : var(--primary);

  } */
  .secondary-card-container:hover .social-media-icons2{
    display: block;
  }

  .social-media-accounts3{
    width: 90%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 1s all ease-in-out;
    margin : 10px auto;

  }
  .social-media-icons3{
    font-size: 2.2rem;
    padding: 5px;
    margin: 5px;
    color : var(--blue);
    border-radius: 20px;
    transition: 0.4s all ease-in-out;
  }
  .social-media-icons3:hover{
    font-size: 2.4rem;
  }