.teams-subtitle{
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color : var(--dark);
  padding : 20px;
}
.profileCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  margin : 50px 30px;
}
.cardImage {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  position: relative;
  padding : 5px;
  top : 30px;
  background-color: var(--blue);
}
.profileCardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 5px;
  min-height: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  align-items: center;
  justify-content: flex-start;
  transition: 0.4s all ease-in-out;
}
.profileCardContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding :8px;
  width: 306px;
  
}
.profile-main-content{
    text-align: center;
    padding : 20px;
}
.profile-name{
  font-size: 1.5rem;
  font-weight: 600;
  color : var(--navy);
  height : 70px;
}
.profile-subheading{
  font-size: 1.1rem;
  font-weight: 500;
  color : var(--blue);
  height : 40px;
}
.profile-image{
  width: 100%;
  height : 60px;
  background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.profile-description{
  font-size: 0.9rem;
  color : var(--dark);
  height : 120px;
}
.social-media-group{
  width: 90%;
  padding: 5px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  top : 25px;

}
.social-media-icons{
  font-size: 2rem;
  padding: 5px;
  margin: 5px 10px;
  color : var(--primary);
  background-color: var(--blue);
  border-radius: 20px;
  transition: 0.4s all ease-in-out;
}

.social-media-icons:hover{
  font-size: 2.2rem;
  padding: 6px;
  color : var(--blue);
  background-color: var(--primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.secondary-cards{
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}
.founder-cards{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.team-mini-container1{
  width : 80%;
  margin: 20px auto 30px auto;
}
.team-mini-container2{
  width : 70%;
  margin: 20px auto 30px auto;
}
.teams-mini-heading{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color : var(--dark)
}
@media only screen and (max-width: 1100px) {
  .profileCards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  .profileCardContainer {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .profileCards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    
  }
  .profileCardContainer {
    margin-bottom: 50px;
  }
}
